<?xml version="1.0" encoding="UTF-8"?>
<!-- !!! We should move to spring cloud gcp once its version 1.2.x is out in mavencentral. -->
<configuration>
<!-- Spring uses commons logging, which is an adapter to a plugged in logging implementation. By
     using Logback, we're plugging in Logback to be used by spring internal and our app. -->
  <springProfile name="production">
    <!-- Note that to run stackdriver logging, agent should be installed on server. -->
    <appender name="STACKDRIVER" class="com.google.cloud.logging.logback.LoggingAppender">
      <log>app-zl-wzgp.log</log>
      <flushLevel>WARN</flushLevel>
    </appender>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <root level="INFO">
      <appender-ref ref="STACKDRIVER" />
    </root>
  </springProfile>
  <!-- ======================================================================================= -->
  <!-- ======================================================================================= -->
  <springProfile name="!production">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
  </springProfile>
  
</configuration>